<div class="login-container container fluid">
  <div class="login-panel offset-md-4 col-md-4">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Login or Email address</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="loginRequest.username" [(ngModel)]="loginRequest.email">
      <div id="emailHelp" class="form-text">We'll never share your login or email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="loginRequest.password">
      <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
      <br>
    </div>
    <div class="login-btn mb-3 text-center">
      <button type="submit" class="btn btn-dark" (click)="login()">Login</button>
    </div>
    <div class="mb-3 google-login">
      <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn w-100 btn-secondary" (click)="loginAsGuest()">Continue as a guest</button>
    </div>
  </div>
</div>

